# Copy this file to .env and add your MongoDB connection string.
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.7tgjzkm.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=ideaone
MONGODB_COLLECTION=contacts
PORT=3000
